In [6]:
x = 1
n = 1
while n <= 7:
    x = x * 3
    n = n + 1
    print(x)

3
9
27
81
243
729
2187

In [2]:
xl = str(x)

In [3]:
print( len( xl ) )

6358

In [8]:
13 ** 11

1792160394037

In [5]:
 a = float( input("Salam, adad bede: ") )

Salam, adad bede: 12.4

In [6]:
a

12.4

In [1]:
a = float ( input ("Salam, adad bede: ") )
b = float ( input ("Salam, adad bede: ") )
c = a + b
print( c )

Salam, adad bede: 12.34
Salam, adad bede: 13.2
25.54

In [2]:
a = float ( input ("Salam, adad bede: ") )
b = float ( input ("Salam, adad bede: ") )
c = a + b
print( "Jame {} va {} brabar st ba ".format(a,b) , c )

Salam, adad bede: 12.34
Salam, adad bede: 13.2
Jame 12.34 va 13.2 brabar st ba  25.54

In [4]:
a = 12
b = 5
b = a

a = float ( input ("Salam, adad bede: ") )
b = float ( input ("Salam, adad bede: ") )
c = a + b
print( c )
b

12

In [5]:
a = 12
b = 5
b = a
print( a , b )

12 12

In [7]:
print ( 3 == 2 )

False

In [1]:
#
input("Salam adad tabiei kamtar ya mosavi 186 vared konid: ")

Salam adad tabiei kamtar ya mosavi 186 vared konid: 168

'168'

In [2]:
input("Salam adad tabiei kamtar ya mosavi 186 vared konid: ")

Salam adad tabiei kamtar ya mosavi 186 vared konid: 184

In [3]:
n

'184'

In [4]:
type(n)

str

In [7]:
n = int( n )
# integer عدد صحیح
# n = float ( ) 
nf = float ( n )

In [6]:
n

184

In [8]:
nf

184.0

In [9]:
n == nf

True

In [10]:
type(n) == type(nf)

False

In [ ]:
 n = input("Salam adad tabiei kamtar ya mosavi 186 vared konid: ")
 n = int(n)

In [ ]:
n = input("Salam adad tabiei kamtar ya mosavi 186 vared konid: ")
n = int(n)
if n <= 186:
    m = n // 186
    d = n % 186

In [ ]:
n = input("Salam adad tabiei kamtar ya mosavi 186 vared konid: ")
n = int(n)
if n <= 186:
    m = n // 186
    d = n % 186

In [4]:
n = input("Salam adad tabiei kamtar ya mosavi 186 vared konid: ")
n = int(n)
if n <= 186:
    m = n // 31
    d = n % 31

Salam adad tabiei kamtar ya mosavi 186 vared konid: 184

In [5]:
m

5

In [6]:
d

29

In [7]:
n = input("Salam adad tabiei kamtar ya mosavi 186 vared konid: ")
n = int(n)
if n <= 186:
    m = n // 31
    d = n % 31
if d == 0 :
    d = 31
else:
    m = m + 1
print("rooz {} az mah {} om".format( d , m))

Salam adad tabiei kamtar ya mosavi 186 vared konid: 184
rooz 29 az mah 6 om

In [1]:
n = input("Salam adad tabiei kamtar kmatr az 366 vared konid: ")
r = n % 7
rooz=""
if r == 1:

IndentationError: expected an indented block (<ipython-input-1-88e306fc2e60>, line 5)

In [7]:
n = input("Salam adad tabiei kamtar kmatr az 366 vared konid: ")
n = int(n)
r = n % 7

if r == 1:
    rooz = "YekShanbe"
elif r == 2:
     rooz = "DoShanbe"
elif r == 3:
     rooz  = "seShanbe"
elif r == 4:
    rooz="chaharShanbe"   
elif r == 5:
    rooz = "panjShanbe"   
elif r == 6:
    rooz = "jomee"  
else:
    rooz = "Shanbe"

print(rooz)

Salam adad tabiei kamtar kmatr az 366 vared konid: 365
YekShanbe