#Python Lists
#List
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data,
the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [2]:
#Example
#Create a List:

x = "apple"
y = "banana"
z = "cherry"

# نوع داده چندگانه
thislist = ["apple" , "banana", "cherry"]

print(thislist)

['apple', 'banana', 'cherry']

List Items
List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

In [4]:
thislist[0]

'apple'

In [6]:
for i in range( 3 ): # 0 , 1, 2
   print( thislist[i] )

apple
banana
cherry

In [7]:
for x in thislist :
   print( x )

apple
banana
cherry

In [9]:
#محتویات لیست قابل تغییر هستند

thislist[0] = 'orange'

In [10]:
thislist

['orange', 'banana', 'cherry']

In [17]:
# ترتیب، قابل تغییر، تکرار مجاز 

gholi = ['orange', 'banana', 'cherry', 'banana']

In [12]:
gholi

['orange', 'banana', 'cherry', 'banana']

In [15]:
list1 = ["apple", "banana", "cherry"]

list2 = [1, 5, 7, 9, 3]

list3 = [True, False, False]

#A list with strings, integers, boolean and float values:
list4 = ["Reza", 41, True, 185.26]

In [14]:
list4

['Reza', 41, True, 185.26]

In [18]:
#List Length

#To determine how many items a list has, use the len() function:

#Example
#Print the number of items in the list:

thislist = ["apple", "banana", "cherry"]

print( len(thislist) )

3

برنامه ای بنویسید که نمرات یک دانش آموز را دریافت کند و آنها را دریک لیست ذخیریه کند و میانگین نمرات را محسبه و چاپ کند:

In [28]:
n = int(input('Lotfan tedad nomerat ra vared konid:'))

nomre = [0 for i in range(n)] # 0,1,2,...,n-1

s = 0
    
for i in range( n ):
    nomre[i] = float(input('nomre vared konid:'))
    s += nomre[i]
    
print( nomre )


print( s/n )

Lotfan tedad nomerat ra vared konid:5
nomre vared konid:12.2
nomre vared konid:13.25
nomre vared konid:19
nomre vared konid:.25
nomre vared konid:20
[12.2, 13.25, 19.0, 0.25, 20.0]
12.940000000000001

In [32]:
x = []
print( len(x) )
x[0] = 12

0

IndexError: list assignment index out of range

In [27]:
nomre = [0 for i in range(n)]
nomre

[0, 0, 0, 0, 0]

In [29]:
l = [0]*5

In [30]:
l

[0, 0, 0, 0, 0]

هرکدام از دستورات زیر یک لیست به طول ۵ ایجاد میکنند که همه ایتمهای ان 0 است

In [ ]:
l = [0]*5

t = [0 for i in range(5)]   # 0,1,2,3,4

In [33]:
k = [0] + [0]

In [34]:
k

[0, 0]

In [35]:
k2 = 2 * [0]

In [36]:
k2

[0, 0]

In [45]:
kk = [[0] * 4] * 3
kk

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [43]:
len( kk[0] )

4

In [2]:
for i in range(100,2):
    print(i)

2

In [8]:
for i in range(0,100,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [9]:
i = 0
while i < 100:
    print(i)
    i += 2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98