In [ ]:
<div dir="rtl">

</div>

In [ ]:
<div dir="rtl">

</div>

In [ ]:
saat = float(input("chand saat dar hafte ? "))

dastmozd_saati = int (input("har saat chand tooman ? "))

kol_daryafti = saat *  4 * dastmozd_saati 

vat = 0.1 * kol_daryafti

khales_daryafti = kol_daryafti -  vat

print ("kol_daryafti = ", kol_daryafti)

print ("maliat = ", vat)

print ("khales_daryafti = ", khales_daryafti)

In [2]:
saat = float(input("chand saat dar hafte ? "))

dastmozd_saati = int (input("har saat chand tooman ? "))

kol_daryafti = saat *  4 * dastmozd_saati 

maliat = 0.1 * kol_daryafti

khales_daryafti = kol_daryafti -  vat

l = [kol_daryafti , maliat, khales_daryafti]

for a in l:
    print(a)
#print ("kol_daryafti = ", kol_daryafti)
#print ("maliat = ", vat)
#print ("khales_daryafti = ", khales_daryafti)

chand saat dar hafte ? 45.9
har saat chand tooman ? 52000
9547200.0
954720.0
8524800.0

In [7]:
karmand = {'name' : 'Reza'  , 'age': 43 , 'gender' : 'male' , 'personeli' : 987654321 , 'sabeghe' : 14 , 'dgree' : 'Kareshes'}

In [5]:
karmand['name']

'REza'

In [8]:
karmand

{'name': 'Reza',
 'age': 43,
 'gender': 'male',
 'personeli': 987654321,
 'sabeghe': 14,
 'dgree': 'Kareshes'}

In [10]:
karmand['name']

'Reza'

In [11]:
key=['name','age','gender','personeli','sabeghe','dgree']

In [12]:
key

['name', 'age', 'gender', 'personeli', 'sabeghe', 'dgree']

In [14]:
for k in key:
    print(k,' = ', karmand[k] )

name  =  Reza
age  =  43
gender  =  male
personeli  =  987654321
sabeghe  =  14
dgree  =  Kareshes

In [ ]:
df