In [1]:
x = input('Salam adad bede')

Salam adad bede1209876543

In [2]:
x

'1209876543'

In [3]:
type(x)

str

In [4]:
xstr = '12D%4#stn'
len(xstr)

9

In [5]:
len(x)

10

In [6]:
for c in x:
    print(c)

1
2
0
9
8
7
6
5
4
3

In [8]:
for c in x:
    print(int(c) % 2)

1
0
0
1
0
1
0
1
0
1

In [9]:
for c in x:
    print(c * 2)

11
22
00
99
88
77
66
55
44
33

In [ ]:
x = 0
while x < 5 :
    print( x )
    x += 1

In [3]:
  n = int(input('please enter n:'))
  i = 0
sum = 0
while i < n:
    num = float(input('please enter num: '))
    sum = sum + num
    i = i + 1

ave = sum / n
print(ave)

please enter n:4
please enter num: 12.5
please enter num: 13.26
please enter num: 17
please enter num: 19.99
15.6875

In [5]:
# argham yek adad tabiee

n = int (input ('addad ra vared kon'))
while n != 0 :
    r = n % 10
    print (r)
    n = n // 10

addad ra vared kon123121432567787654321
1
2
3
4
5
6
7
8
7
7
6
5
2
3
4
1
2
1
3
2
1

In [6]:
for n in range(5):
    print(n)

0
1
2
3
4

In [7]:
for n in ['a', 'b', 1400, 12.5, True]:
    print(n)

a
b
1400
12.5
True

In [8]:
for n in [0, 1, 2, 3, 5]:
    print(n)

0
1
2
3
5

In [10]:
mysum = 0
for n in range(7,10):
    mysum += n
print(mysum)

24

In [11]:
for x in range(10,99,2):
    print(x)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98