# Data Science - Data Preparation

Before analyzing data, a Data Scientist must extract the data, and make it clean and valuable.

Extract and Read Data With Pandas
Before data can be analyzed, it must be imported/extracted.

In the example below, we show you how to import data using Pandas in Python.

We use the  read_csv() function to import a CSV file with the health data:

In [12]:
import pandas as pd

health_data = pd.read_csv("health_data.csv", header=0, sep=",")

print(health_data)

  Unnamed: 0     Unnamed: 1 Unnamed: 2       Unnamed: 3  Unnamed: 4  \
0   Duration  Average_Pulse  Max_Pulse  Calorie_Burnage  Hours_Work
1         30             80        120              240          10
2         30             85        120              250          10
3         45             90        130              260           8
4         45             95        130              270           8
5         45            100        140              280           0
6         60            105        140              290           7
7         60            110        145              300           7

    Unnamed: 5
0  Hours_Sleep
1            7
2            7
3            7
4            7
5            7
6            8
7            8

## Example Explained

Import the Pandas library

Name the data frame as health_data.

header=0 means that the headers for the variable names are to be found in the first row (note that 0 means the first row in Python)

sep="," means that "," is used as the separator between the values.

This is because we are using the file type .csv (comma separated values)

Tip: If you have a large CSV file, you can use the head() function to only show the top 5rows:

Example

In [19]:
import pandas as pd

health_data = pd.read_csv("health_data.csv", header=0, sep=",")

health_data

    Duration Average_Pulse Max_Pulse  Calorie_Burnage  Hours_Work  Hours_Sleep
0       30.0            80       120            240.0        10.0          7.0
1       45.0            85       120            250.0        10.0          7.0
2       45.0            90       130            260.0         8.0          7.0
3       60.0            95       130            270.0         8.0          7.0
4       60.0           100       140            280.0         0.0          7.0
5        NaN           NaN       NaN              NaN         NaN          NaN
6       60.0           105       140            290.0         7.0          8.0
7       60.0           110       145            300.0         7.0          8.0
8       45.0           NaN        AF              NaN         8.0          8.0
9       45.0           115       145            310.0         8.0          8.0
10      60.0           120       150            320.0         0.0          8.0
11      60.0         9 000       130              NaN         NaN          8.0
12      45.0           125       150            330.0         8.0          8.0

In [16]:
If you have a large CSV file, you can use the head() function to only show the top 5rows:

Example

SyntaxError: invalid syntax (<ipython-input-16-36a95d231c84>, line 1)

In [14]:
import pandas as pd

health_data = pd.read_csv("health_data.csv", header=0, sep=",")

print(health_data.head(7) )

   Duration Average_Pulse Max_Pulse  Calorie_Burnage  Hours_Work  Hours_Sleep
0      30.0            80       120            240.0        10.0          7.0
1      45.0            85       120            250.0        10.0          7.0
2      45.0            90       130            260.0         8.0          7.0
3      60.0            95       130            270.0         8.0          7.0
4      60.0           100       140            280.0         0.0          7.0
5       NaN           NaN       NaN              NaN         NaN          NaN
6      60.0           105       140            290.0         7.0          8.0

Data Cleaning
Look at the imported data. 
As you can see, the data are "dirty" with wrongly or unregistered values

There are some blank fields
Average pulse of 9 000 is not possible
9 000 will be treated as non-numeric, because of the space separator
One observation of max pulse is denoted as "AF", which does not make sense

So, we must clean the data in order to perform the analysis.

## Remove Blank Rows
We see that the non-numeric values (9 000 and AF) are in the same rows with missing values.

Solution: We can remove the rows with missing observations to fix this problem.

When we load a data set using Pandas, all blank cells are automatically converted into "NaN" values.

So, removing the NaN cells gives us a clean data set that can be analyzed.

We can use the dropna() function to remove the NaNs. 

axis=0 means that we want to remove all rows that have a NaN value:

Example

In [20]:
health_data.dropna( axis=0 , inplace=True )
print(health_data)

    Duration Average_Pulse Max_Pulse  Calorie_Burnage  Hours_Work  Hours_Sleep
0       30.0            80       120            240.0        10.0          7.0
1       45.0            85       120            250.0        10.0          7.0
2       45.0            90       130            260.0         8.0          7.0
3       60.0            95       130            270.0         8.0          7.0
4       60.0           100       140            280.0         0.0          7.0
6       60.0           105       140            290.0         7.0          8.0
7       60.0           110       145            300.0         7.0          8.0
9       45.0           115       145            310.0         8.0          8.0
10      60.0           120       150            320.0         0.0          8.0
12      45.0           125       150            330.0         8.0          8.0

### Data Categories

To analyze data, we also need to know the types of data we are dealing with.

Data can be split into three main categories:

- Numerical - Contains numerical values. Can be divided into two categories:
      - Discrete: Numbers are counted as "whole". 
                 Example: You cannot have trained 2.5 sessions, it is either 2 or 3
      - Continuous: Numbers can be of infinite precision. For example, you can sleep for 7 hours, 30 minutes and 20 seconds, or 7.533 hours
- Categorical - Contains values that cannot be measured up against each other. Example: A color or a type of training
- Ordinal - Contains categorical data that can be measured up against each other. 
  Example: School grades where A is better than B and so on

By knowing the type of your data, you will be able to know what technique to use when analyzing them.

In [ ]:
Data Types
We can use the info() function to list the data types within our data set: 

Example

In [21]:
print(health_data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 12
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Duration         10 non-null     float64
 1   Average_Pulse    10 non-null     object
 2   Max_Pulse        10 non-null     object
 3   Calorie_Burnage  10 non-null     float64
 4   Hours_Work       10 non-null     float64
 5   Hours_Sleep      10 non-null     float64
dtypes: float64(4), object(2)
memory usage: 560.0+ bytes
None

We see that this data set has two different types of data:

- Float64
- Object
We cannot use objects to calculate and perform analysis here. We must convert the type object to float64 (float64 is a number with a decimal in Python).

We can use the astype() function to convert the data into float64.

The following example converts "Average_Pulse" and "Max_Pulse" into data type float64 (the other variables are already of data type float64):

Example

In [22]:
health_data["Average_Pulse"] = health_data['Average_Pulse'].astype(float)
health_data["Max_Pulse"] = health_data["Max_Pulse"].astype(float)

print (health_data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 12
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Duration         10 non-null     float64
 1   Average_Pulse    10 non-null     float64
 2   Max_Pulse        10 non-null     float64
 3   Calorie_Burnage  10 non-null     float64
 4   Hours_Work       10 non-null     float64
 5   Hours_Sleep      10 non-null     float64
dtypes: float64(6)
memory usage: 560.0 bytes
None

Now, the data set has only float64 data types.

## Analyze the Data
When we have cleaned the data set, we can start analyzing the data.

We can use the describe() function in Python to summarize data:

Example

In [23]:
health_data.describe()

,Duration,Average_Pulse,Max_Pulse,Calorie_Burnage,Hours_Work,Hours_Sleep
count,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,51.000000,102.500000,137.000000,285.000000,6.600000,7.500000
std,10.488088,15.138252,11.352924,30.276504,3.627059,0.527046
min,30.000000,80.000000,120.000000,240.000000,0.000000,7.000000
25%,45.000000,91.250000,130.000000,262.500000,7.000000,7.000000
50%,52.500000,102.500000,140.000000,285.000000,8.000000,7.500000
75%,60.000000,113.750000,145.000000,307.500000,8.000000,8.000000
max,60.000000,125.000000,150.000000,330.000000,10.000000,8.000000

- Count - Counts the number of observations
- Mean  - The average value
- Std  - Standard deviation (explained in the statistics chapter)
- Min  - The lowest value
- 25%, 50% and 75% are percentiles (explained in the statistics chapter)
- Max - The highest value