There are four collection data types in the Python programming language:

#List  is a  collection which is #ordered and #changeable.  #Allows #duplicate members.
#Tuple is a  collection which is ordered and unchangeable.   Allows duplicate members.
#Set   is a  collection which is unordered and unindexed.    No duplicate members.
#Dictionary is a collection which is ordered* and changeable. No duplicate members.

In [1]:
لیست نوعی داده است

thislist = ["apple", "banana", "cherry", "apple", "cherry"]

print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [ ]:
List Items
List items are ordered, changeable, and allow duplicate values.
List items are indexed, the first item has index [0], the second item has index [1] etc.

In [2]:
thislist[0]

'apple'

In [3]:
for i in range(5):
    print(thislist[i])

apple
banana
cherry
apple
cherry

In [4]:
thislist[0]='Orange'

In [5]:
thislist

['Orange', 'banana', 'cherry', 'apple', 'cherry']

In [6]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [7]:
list1

[True, False, False]

In [8]:
list2

[1, 5, 7, 9, 3]

In [9]:
list1 = ["abc", 34, True, 40, "male"]

In [10]:
list1

['abc', 34, True, 40, 'male']

type( )

From Python's perspective, lists are defined as objects with the data type 'list':

In [12]:
type(list1[0])

str

In [13]:
mylist = ["apple", "banana", "cherry"]

print( type(mylist) )

<class 'list'>

In [ ]:
The list() Constructor
It is also possible to use the list() constructor when creating a new list.

In [14]:
list(range(5))

[0, 1, 2, 3, 4]

In [15]:
list({0,1,2,3,4})

[0, 1, 2, 3, 4]

In [16]:
mytuple = ("apple", "banana", "cherry")

In [17]:
mytuple

('apple', 'banana', 'cherry')

In [18]:
mytuple[0]

'apple'

In [19]:
mytuple = ("apple", "banana", "cherry","apple")

In [20]:
mytuple

('apple', 'banana', 'cherry', 'apple')

In [21]:
mytuple[0] = 'orange'

TypeError: 'tuple' object does not support item assignment

In [22]:
len( mytuple )

4

In [23]:
type ( mytuple )

tuple

In [ ]:
Negative Indexing
Negative indexing means start from the end.

-1 refers to the last item, -2 refers to the second last item etc.

In [24]:
mytuple[-1]

'apple'

In [26]:
for i in range(1,5):
    print( mytuple[ -i ] )

apple
cherry
banana
apple

##Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new tuple with the specified items.

In [27]:
mytuple

('apple', 'banana', 'cherry', 'apple')

In [28]:
mytuple[0:2]

('apple', 'banana')

In [29]:
mytuple[0:4]

('apple', 'banana', 'cherry', 'apple')

In [31]:
print(mytuple[2:])

('cherry', 'apple')

In [32]:
print(mytuple[:2])

('apple', 'banana')

In [33]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [34]:
print(thistuple[:-1])

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon')

In [35]:
print(thistuple[0:-1])

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon')

In [37]:
print(thistuple[-4:1])

()

In [ ]:
Check if Item Exists
To determine if a specified item is present in a tuple use the in keyword:

In [38]:
'apple' in thistuple

True

In [ ]:
Tuples are unchangeable, meaing that you cannot change, add, or remove items once the tuple is created.

But there are some workarounds.

Change Tuple Values
Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [40]:
x = ("apple", "banana", "cherry")

y = list( x )

y[1] = "kiwi"

x = tuple( y )

print(x)

('apple', 'kiwi', 'cherry')

In [41]:
y

['apple', 'kiwi', 'cherry']

In [42]:
#append
y.append('orange')

In [43]:
y

['apple', 'kiwi', 'cherry', 'orange']

In [44]:
Remove Specified Index
The pop() method removes the specified index.

['apple', 'cherry']

In [ ]:
Remove Specified Index
The pop() method removes the specified index.

In [45]:
thislist = ["apple", "banana", "cherry"]

thislist.pop(1)

print(thislist)

['apple', 'cherry']

In [46]:
thislist = ["apple", "banana", "cherry"]

thislist.pop()

print(thislist)

['apple', 'banana']

In [47]:
# The del keyword also removes the specified index:

thislist = ["apple", "banana", "cherry"]

del thislist[0]  # thislist.pop(0)  

print(thislist)

['banana', 'cherry']

In [48]:
mylist = ["apple", "banana" , "cherry" , "banana"]

mylist.remove("banana")

In [49]:
print( mylist )

['apple', 'cherry', 'banana']

In [ ]:
#Python removes method is a built-in method available with the list. It helps to remove the given very first element

In [50]:
thislist = ["apple", "banana", "cherry"]

del thislist

In [51]:
thislist

NameError: name 'thislist' is not defined

In [53]:
#Clear the List
#The clear() method empties the list.
# The list still remains, but it has no content.

thislist= ["apple", "banana", "cherry"]
    
thislist.clear()

print(thislist)

[]

In [54]:
thislist

[]

In [ ]:
# clear del pop remove append len type

In [56]:
# for while
thislist = ["apple", "banana", "cherry"]

[2*x for x in thislist]

['appleapple', 'bananabanana', 'cherrycherry']

In [57]:
l = [1,2,3,4,5,6,8,6,4]

[2*x-5 for x in l]

[-3, -1, 1, 3, 5, 7, 11, 7, 3]

In [ ]:
 # del list[start:stop]

In [ ]:
مقدار اولیه داده به لیست در برنامه
لیست تهی را نمیتوان به عنوان مقدار اولیه قرار داد
کد زیر خطا دارد:

In [1]:
 l = []
l[0] = 1400

IndexError: list assignment index out of range

In [2]:
 l = [0]
    
l[0] = 1400

In [3]:
l

[1400]

In [ ]:
بنابراین لیستی که ایتمهی آن

In [13]:
ln =[None,None]

In [14]:
l

[None]

In [15]:
ln[0] = 1400

In [16]:
ln

[1400, None]

In [17]:
ln[1] = 1400

In [18]:
ln

[1400, 1400]

In [ ]:
x =